/* YAHYA PUSH CODINGAN DIBAWAH INI */
@import url("https://fonts.googleapis.com/css2?family=Rufina:wght@700&display=swap");
.home{
  justify-content: space-between;
  align-items: center;
}

.subhome{
  display: flex;
  margin-top: 10vh;
  width: 50%;
  /* background-color: #fff; */
  height:90vh;
  width: 100%;
  position: relative;
  font-weight: 400;
  text-decoration: none;
  justify-content: space-between;
}
.backhome{
  height: 100vh;
  position: absolute;
  filter: blur(4px);
  width: 100%;
}


.img-homee{
  width: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
}
.color-page{
  height: 100vh;
  width: 65%;
  background-color: rgba(0, 0, 0, 0.8);


}

.img-homee2{
  background-color: #fffffff7;
  border-radius:45%;
  height: 50vh;
  width: 70vh;
  margin-top: -50vh;
}

.img-homee3{
  background-color: #fffffff7;
  border-radius: 50%;
  height: 50vh;
  width: 50vh;
  margin-top: -40vh;
}

.img-homee4{
  background-color: #fffffff7;
  border-radius: 30%;
  height: 50vh;
  width: 50vh;
  margin-top: -65vh;
  margin-left: 20vh;
}

.img-homee5{
  background-color: #000000d7;
  box-shadow: 5px 5px 10px 10px rgba(9, 9, 9, 0.71);

  border-radius: 50%;
  height: 40vh;
  width: 50vh;
  margin-top: -39vh;
  margin-left: 10vh;
}

.img-home{
  height: 50vh;
  margin-top: 12rem;
  margin-left: 4rem;
  opacity: 0.7;
}

/* //Fix Home */
.home-txt{
  color: #F17228;
  margin-top: 10vh;
  margin-left: 2rem;
}
.home-txt p{
  font-size: 100px;
  text-transform: uppercase;
  font-weight: bold;

}
.home-txt h1{
  font-size: 80px;
  text-transform: uppercase;
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff8a;
  background: url("../../assets/Img/Card/backgrounfix1.jpg");
  background-position: 0 0;
  animation: back 10s linear infinite;
  -webkit-background-clip: text;
  
}
@keyframes back{
  100%{
    background-position: 2000px 0;
  }

}
.home-txt h3{
  margin-top: 2rem;
  font-weight: 600;
}