.loginlagi{

  background: linear-gradient(90deg,#F17228 0%, #F17228 30%, #212121 30%,#212121 100%);
    
  
  }
  .cont{
    height: 110vh;
  }
  .div-nav{
    height: 10vh;
    display: block;
  }
  
  .fot-rese{
    margin-top: 5vh;
    margin-left: 50vh;
  }
  /* Kanan  */
  .forn-container {
    color: #F17228;
    width: 150%;
    height: 90vh;
    
    background-color: #ffffff;
    /* box-shadow: 3px 3px 10px 16px rgba(137, 137, 137, 0.298); */
    flex-direction: column;
    border-radius: 15px;
    display: flex;
    position: relative;
    gap: 20px;
    text-align: center;
  }
  .forn-container h2{
    color: #F17228;
    margin-top: 10px;
    text-transform: uppercase;
  
    
  }
  .name {
    display: flex;
    justify-content: space-between;
  }
  .name input {
    width: 50%;
  }
  .forn-container input {
    padding: 8px 14px;
    /* border-radius: 10px; */
    border: none;
    outline: none;
    margin: 1rem;
    border: 1px solid #000;
    /* background-color: #fff700; */
  
  }
  .massage textarea{
    width: 92%;
    height: 22vh;
    /* margin-left: -0.6rem; */
    font-size: 15px;
    padding: 10px;
    
  }
  
  .forn-container button {
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    background-color: #ffff00;
    color: #212121;
    cursor: pointer;
    font-size: 15px;
    
    width: 30%;
    margin-left: 1rem;
  }
  .forn-container button:hover {
    background-color: #212121;
    color: #fff;
  }
  
  .forn-container button:active {
    background-color: #212121;
  }
  .phon{
    width: 38%;
  }
  
  /* /// New reservasi */
  .body-reser{
  height: 130vh;
  }
.hubung{
    position: relative;
   margin-left: 4rem;
}
  .boxreservasi{
    position: relative;
    display: flex;
    width: 100%;
  }
  .contact-poss{
    width: 82%;
    height: 85vh;
  }
  .contact-info {
    height: 30vh;
    width: 70%;
    margin-left: 16rem;
    background-color: #ffff00;
    border-radius: 15px;
    position: relative;

  }
 .contch2{
    margin-left: 1rem;

    
  }
.map{
  height: 57.6vh;
  margin-top: 1rem;
  margin-left: 16rem;
  border: 1px solid #fff;
  border-radius: 8px;


 
}
.contact-poss .contact-info li{
  display: flex;
}
.contact-poss .contact-info a{
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: 500;
  margin-left: 0.5rem;
  margin-top: 1.5rem;
}
.contact-poss .contact-info p{
  font-size: 20px;
}
.icn-ress{
  font-size: 40px;
  margin-top: 2rem;
  margin-left: 1rem;
  color: rgb(0, 0, 0);

}

  
  
  