.contacts {
  width: 100%;
  height: 50vh;
  background-color: aqua;
  padding-top: 10vh;
}

.form-reservasi{
  width: 75%;
}
.form{
  color: #8989894c;
  width: 100%;
  height: 90vh;
  background-color: #ffffff;
  flex-direction: column;
  border-radius: 15px;
  gap: 40px;
  position: relative;
  gap: 20px;

  text-align: center;
}

.form h2{
  color: #F17228;
  margin-top: 10px;
  text-transform: uppercase;
}

.form input{
  padding: 8px 14px;
  /* border-radius: 10px; */
  border: 1.5px solid #e1e1e1;
  font-size: 15px;
  outline: none;
  margin: 10px;
  height: 40px;
  background-color: #ffffff;
}

.form textarea{
  padding: 8px 14px;
  /* border-radius: 10px; */
  border: 1.5px solid #e1e1e1;
  font-size: 15px;
  outline: none;
  margin: 10px;
  height: 100px;
  background-color: #ffffff;
}
.nama-email {
  display: flex;
  justify-content: space-between;
}

.nama-email input{
  width: 50%;
}

.noTelp-TglAcara {
  display: flex;
  justify-content: space-between;
}

.noTelp-TglAcara input{
  width: 50%;
}

.jumlah-jam{
  display: flex;
  justify-content: space-between;
}

.jumlah-jam input{
  width: 50%;
}

