@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.navbar{
  max-width: 100%;
  height: 10vh;
  display: grid;
  place-items: center;
  grid-template-columns: auto auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: #323131;
}

.navbar h1{
  margin-right: 480px;
  color: #ffb30e;
  font-family: "Montserrat", sans-serif;
}

nav{
  position: relative;
  margin-right: 10px;
  width: 100%;
  height: 30px;
  background: #323131;
}

nav a{
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #ffb30e;
  text-decoration: none;
  line-height: 30px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
}

nav .animation{
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  background: #000;
  border-radius: 8px;
  transition: all 0.7s ease 0s;
}

nav a:nth-child(1) {
  width: 100px;
}

a:nth-child(1):hover ~ .animation {
  width: 100px;
  left: 0;
}

nav a:nth-child(2) {
  width: 100px;
}

nav a:nth-child(2):hover ~ .animation {
  width: 100px;
  left: 100px;
}

nav a:nth-child(3) {
  width: 100px;
}

nav a:nth-child(3):hover ~ .animation {
  width: 100px;
  left: 200px;
}

nav a:nth-child(4) {
  width: 100px;
}

nav a:nth-child(4):hover ~ .animation {
  width: 100px;
  left: 300px;
}